{% extends "base.html" %}

{% block content %}
<h2>Detalles de la Compra #{{ purchase.id }}</h2>

<table class="table">
    <tr>
        <th>Compra Nro</th>
        <th>Cliente</th>
        <th>Fecha de Entrega</th>
        <th>Producto</th>
        <th>Cantidad</th>
        <th>Precio Unitario</th>
        <th>Subtotal por producto</th>
    </tr>
    {% for item in items %}
    <tr>
        <td>{{ purchase.pk }}</td>
        <td>{{ purchase.client.full_name }}</td>
        <td>{{ purchase.delivery_date }}</td>
        <td>{{ item.product.name }}</td>
        <td>{{ item.amount }}</td>
        <td>${{ item.unitary_price }}</td>
        <td>${{ item.subtotal }}</td>
    </tr>
    {% endfor %}
</table>

<p class="text-end"><strong>Total de la Compra:</strong> ${{ purchase.total_price }}</p>
<p class="text-end"><strong>Estado de la Compra:</strong> {{ purchase.get_purchase_status_display }}</p>


<a href="{% url 'purchase_list' %}">Volver a la lista de compras</a>
{% endblock %}
